# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GJG_Case.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\UnityProjects\GJG-Case\GJG_Case\.idea\.idea.GJG_Case\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
